.card__container{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.badge__container-img{
  width: 100px;
  margin-right: 30px;
}

.badge__img{
  width: 100px;
  border-radius: 50%;
}

.badge-name,
.badge-twitter,
.badge-job{
  margin: 0;
}

.badge-name{
  font-weight: bold;
}

.badge-twitter{
color: #1da1f2 ;
}

.badge-job{
  font-size: 12px;
}